.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span {
}

.input {
  text-align: center;
  outline: none;
  padding: 0.5em;
  min-height: 2.428571428571429rem;
}

.error {
  color: red;
  border: 2px solid red;
}
