@import '../../styles/base/mixins';

.countersBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.counters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.counters div {
  flex: 0 1 48%;
}
